[Unit]
Description=The backend for pstdl.com.
After=network.target

[Service]
type=simple
User=root
WorkingDirectory=/srv/pstdl.com
ExecStart=/usr/bin/npm run prod

[Install]
WantedBy=multi-user.target
Alias=pstdl
