/**
 * Elijah Cobb
 * elijah@elijahcobb.com
 * elijahcobb.com
 * github.com/elijahjcobb
 */

@import "variables";

.MemberDetailPage {

	//display: flex;
	//flex-direction: column;
	//justify-content: flex-start;
	//align-items: center;

	.top, .right {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.profile {
		display: block;
		max-height: 300px;
		border-radius: 25%;
	}

	.name {
		margin-top: $paddingMedium;
		font-size: 2em;
		font-weight: bold;
	}

	.email {
		font-size: 1.5em;
		font-weight: lighter;
		color: gray;
	}

	.bio {
		text-align: left;
		font-size: 1.25em;
		line-height: 1.5;
		padding: $paddingMedium;
	}

	.buttons {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;

		.button {
			margin: $paddingSmall;
			transition: transform 250ms ease-in-out;
			width: 40px;
			height: 40px;
			color: $mtuGold;
		}

		.button:hover {
			transform: scale(1.25);
			cursor: pointer;
		}
	}

}

@media (min-width: $constraint) {

	.MemberDetailPage {
		.top {
			flex-direction: row;
			margin: $paddingBig;
			justify-content: flex-start;
			align-items: center;
			width: 100%;
		}
		.right {
			align-items: flex-start;
			margin-left: $paddingBig;
		}
	}

}