/**
 * Elijah Cobb
 * elijah@elijahcobb.com
 * elijahcobb.com
 * github.com/elijahjcobb
 */

.PartnershipsPage {

	.grid {
		display: flex;
		flex-wrap: wrap;
		margin: 64px 0;

		img {
			width: 30%;
			max-height: 300px;
			object-fit: contain;
			margin: 16px;
		}
	}

}
