/**
 * Elijah Cobb
 * elijah@elijahcobb.com
 * elijahcobb.com
 * github.com/elijahjcobb
 */

@import "variables";
@import "~react-image-gallery/styles/scss/image-gallery.scss";

.ProjectDetail {

	.image-gallery-icon {
		color: $mtuGold;
	}

	//.imagesContainer {
	//	background: red;
	//	overflow: hidden;
	//}

	.image-gallery-image {
		height: min(480px, 40vh);
	}

	.active,
	.image-gallery-thumbnail:hover {
		border-color: $mtuGold;
	}

	.close {
		position: fixed;
		top: $navBarHeight + 20px;
		right: 20px;
		width: 60px;
		padding: 10px;
		height: 60px;
		background: $mtuGold;
		color: black;
		border-radius: 50%;
		transition: transform 250ms ease-in-out;
	}

	.close:hover {
		transform: scale(1.125) rotate(90deg);
	}

	.members {

		margin: $paddingMedium 0;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

	}


	.md, {

		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		font-size: 18px;

		p {
			margin: $paddingSmall 0;
			line-height: 1.5;
		}

		code {
			font-family: "Roboto Mono", monospace;
			font-size: 16px;
		}

		pre code {
			display: block;
			background: black;
			box-shadow: 0 0 $paddingSmall $mtuGold;
			margin: $paddingSmall 0;
			padding: $paddingMedium;
			border-radius: $paddingMedium;
		}

		li {
			margin: $paddingMedium $paddingBig 0;
		}

		table {
			border-collapse: collapse;
			width: 100%;
			background: black;
			border-radius: $paddingMedium;
			margin: $paddingMedium 0;
			overflow: hidden;
			box-shadow: 0 0 $paddingSmall $mtuGold;
		}

		table td, table th {
			box-shadow: 0 0 1px $mtuGold;
			padding: $paddingSmall;
		}

		table th {
			background: $mtuGold;
			color: black;
		}

		table tr:nth-child(even) {
			background: #111;
		}

		table th {
			padding: $paddingMedium $paddingSmall;
			text-align: left;
		}

		img {
			width: 100%;
			object-fit: contain;
		}

		a {

		}
	}
}

@media (min-width: $constraint) {
	.ProjectDetail {

		.md {

			table td, table th {
				padding: $paddingMedium;
			}

		}
	}
}
